<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @questionnaire.type %>
</p>

<p>
  <strong>Course enrollment:</strong>
  <%= @questionnaire.course_enrollment_id %>
</p>

<p>
  <strong>Qns 1:</strong>
  <%= @questionnaire.qns_1 %>
</p>

<p>
  <strong>Qns 2:</strong>
  <%= @questionnaire.qns_2 %>
</p>

<p>
  <strong>Qns 3:</strong>
  <%= @questionnaire.qns_3 %>
</p>

<p>
  <strong>Qns 4:</strong>
  <%= @questionnaire.qns_4 %>
</p>

<p>
  <strong>Qns 5:</strong>
  <%= @questionnaire.qns_5 %>
</p>

<p>
  <strong>Qns 6:</strong>
  <%= @questionnaire.qns_6 %>
</p>

<p>
  <strong>Qns 7:</strong>
  <%= @questionnaire.qns_7 %>
</p>

<p>
  <strong>Qns 8:</strong>
  <%= @questionnaire.qns_8 %>
</p>

<p>
  <strong>Qns 9:</strong>
  <%= @questionnaire.qns_9 %>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
